# OS

.DS_Store



# IDE

.idea/

.idea.bak/



# Python

__pycache__/

*.pyc

venv/

.env
.env.local



# Django

db.sqlite3

media/

staticfiles/


# Node

node_modules/

build/

dist/



tmp_settings.py
