.apartmentListContainer {
  padding: 40px;
  background-color: #f9f9f9;
  min-height: 100vh;

  .searchFilterCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px 20px;
    background: #e9ecef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;

    &:hover {
      transform: scale(1.02);
    }

    .searchInput {
      padding: 10px;
      width: 60%;
      border-radius: 8px;
      border: 1px solid #ced4da;
      // transition: border 0.3s, box-shadow 0.3s;

      &:focus {
        // box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid #d4af37;
        background-color: #ced4da;
      }
    }

    .filterSelect {
      padding: 10px;
      width: 35%;
      border-radius: 8px;
      border: 1px solid #ced4da;
      background-color: #f8f9fa;
      font-size: 1rem;
      color: #495057;
      transition: border 0.3s, box-shadow 0.3s;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
        background-color: #ffffff;
      }
    }
  }

  .apartmentList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    padding: 20px;

    .paragrafStyle {
      font-size: 2em;
      color: #3daae9; /* Цвет заголовка */
      margin-bottom: 20px;
      font-family: 'Montserrat', sans-serif;
      text-shadow: 1px 1px 12px rgba(116, 115, 84, 0.1);
    }
  }
}


